/*
 * TODO collect more constants to defs
 */

@def thinSeparatorLine 1px solid #666;
@def layoutMarginal 10px;
@def negativeLayoutMarginal -10px;

@def toolbarGradient literal('-webkit-gradient(linear, 0% 0%, 0% 100%,from(rgb(218,221,225)), to(rgb(109,131,165)),color-stop(0.04, rgb(183,194,208)), color-stop(0.4999, rgb(137,155,181)), color-stop(0.50, rgb(126,147,177)))');
@def toolbarPopoverGradient literal('-webkit-gradient( linear, left bottom, left top, color-stop(0.5, rgba(200, 200, 200, 0)), color-stop(0.5, rgba(200, 200, 200, 0.2)), color-stop(0.85, rgba(200, 200, 200, 0.2)),color-stop(1, rgba(200, 200, 200, 0)))');
@def tabbarGradient literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#000), color-stop(0.04, #555), color-stop(0.4999, #222), color-stop(0.50, #000))');

.v-app, .v-window, .v-popupview-popup, .v-tooltip, .v-app input, .v-app select, .v-app button, .v-app textarea, .v-window input, .v-window select, .v-window button, .v-window textarea, .v-popupview-popup input, .v-popupview-popup select, .v-popupview-popup button, .v-popupview-popup textarea, .v-filterselect-suggestpopup, .v-datefield-popup, .v-contextmenu, .v-Notification, .v-menubar-submenu, .v-drag-element {
	font-family: Helvetica Neue, Helvetica, Arial, Tahoma, Verdana, sans-serif;
	font-size: 14px;
}

.v-tk-view .v-button,
.v-tk-view .v-button-wrap,
.v-tk-popover .v-button,
.v-tk-popover .v-button-wrap,
.v-tk-view .v-disabled.v-button,
.v-tk-view .v-disabled.v-button .v-button-wrap,
.v-tk-popover .v-disabled.v-button,
.v-tk-popover .v-disabled.v-button .v-button-wrap {
	background-image: none !important;
	padding:0 5px;
}

@url buttonBorderImageUrl buttonBorderImage ;
.v-tk-componentgroup-h,
.v-tk-view .v-button,
.v-tk-popover .v-button  {
	-webkit-border-image: buttonBorderImageUrl 10;
	border-width: 5px;
	border-radius: 5px;
	background-color:white;
}

.v-tk-view .v-button-link,
.v-tk-popover .v-button-link {
	-webkit-border-image: none;
	background: transparent;
	padding:0;
}

.v-tk-view .v-button,
.v-tk-popover .v-button {
	height: auto;
}
.v-tk-view .v-button .v-button-wrap,
.v-tk-popover .v-button .v-button-wrap {
	height: 30px;
}
.v-tk-navbar .v-button .v-button-wrap,
.v-tk-toolbar .v-button .v-button-wrap {
	height: auto;
}

.v-tk-view .v-button:active .v-button-caption,
.v-tk-popover .v-button:active .v-button-caption {
	text-shadow: 0 0 15px #fff;
}

.v-tk-navbar .v-button,
.v-tk-navbar .v-tk-componentgroup-h {
	background-color: rgb(91, 128, 171);
}

.v-tk-view .v-button-caption,
.v-tk-popover .v-button-caption {
	font-size: 16px;
	line-height: 30px;
}

.v-tk-navpanel {
	position: relative;
	overflow: hidden;
}

.v-tk-navpanel-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.3s linear;
}

@url backgroundStripes backgroundStripesImage ;

.v-tk-navpanel-container, 
.v-tk-popover.v-tk-fullscreen .v-tk-navpanel-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background: backgroundStripes;
	/* Not visible until positioned */
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
}

.v-tk-navpanel-placeholder, 
.v-tk-popover.v-tk-fullscreen .v-tk-navpanel-placeholder  {
	position: absolute;
	width: 100%;
	height: 100%;
	background: backgroundStripes;
}

.v-tk-navpanel-placeholder>div,
.v-tk-popover.v-tk-fullscreen .v-tk-navpanel-placeholder>div {
	display: block;
	position: absolute;
	background: toolbarGradient;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 0px #222;
	border-bottom: 1px solid rgb(45, 54, 66);
	border-top: 1px solid #bbb;
	text-align: center;
	line-height:40px;
	color:white;
	
}

/* TODO giallo for placeholder */
.v-tk-navpanel-notransit {
	-webkit-transition: none;
}

.v-tk-navbutton {
	-webkit-appearance: none;
	display:block;
	position:relative;
	background: white;
	color: black;
	font-size: 16px;
	font-weight: bold;
	line-height:40px;
	margin:0;
	padding:0;
}

.v-tk-navbutton .v-icon {
	height:30px;
	margin-right: 5px;
	vertical-align: middle;
}

.v-tk-navbutton-desc {
	color: #6e84a1;
	font-weight: normal;
	position: absolute;
	right: 40px;
	top: 0px;
}

/* Borders backgrounds etc. for the margin element.*/
.v-tk-componentgroup>div {
	margin:layoutMarginal;
	border: thinSeparatorLine;
	border-radius: layoutMarginal;
	background: white;
	padding: 0 layoutMarginal;
}

.v-tk-componentgroup>div>div.v-csslayout-container {
	position:relative;	
}

.v-tk-componentgroup>div>div.v-csslayout-container>* {
	clear:both;
}

.v-tk-componentgroup>div>div.v-csslayout-container>.v-tk-has-caption {
	clear:right;
	float:right;
}

.v-tk-componentgroup>div>.v-csslayout-container>.v-caption {
	float:left;
	font-weight:bold;
	font-size:16px;
	line-height:40px;
	height:40px;
}

.v-tk-componentgroup>div>div.v-csslayout-container>.v-caption>.v-captiontext {
	padding-right:3px;	
}

.v-tk-componentgroup input.v-textfield {
	border:0;
	padding:0 4px;
	background: transparent;
	color: #4e64a1;
	font-size:16px;
	line-height:40px;
	height: 40px;
}

.v-tk-componentgroup .v-select-select {
	margin-top: 5px;
	height:30px;
}

/*
 * Nav buttons are 40px height, make switch as height in option layouts.
 */
.v-tk-componentgroup .v-tk-switch {
	margin-top: 12px;
	margin-bottom: 8px;
}

/* Grey lines between component */
.v-tk-componentgroup>div>div.v-csslayout-container>*:before {
	content: "";
	display: block;
	position: absolute;
	margin:0;
	padding:0;
	left:negativeLayoutMarginal;
	right:negativeLayoutMarginal;
	border-top: thinSeparatorLine;
}

/* ...hide from the last */
.v-tk-componentgroup>div>div.v-csslayout-container>*:first-child:before {
	display: none;
}

.v-tk-componentgroup .v-formlayout>table {
	margin-left: negativeLayoutMarginal;
	margin-right: negativeLayoutMarginal;
}

.v-tk-componentgroup .v-formlayout-captioncell {
	padding-left:layoutMarginal;
}

.v-formlayout-captioncell>.v-caption {
	font-weight:bold;
	font-size:16px;
	line-height:40px;
	height:40px;
}

.v-formlayout-row > td {
	border-bottom: thinSeparatorLine;
}
.v-formlayout-lastrow > td {
	border-bottom: none;
}

.v-tk-navbutton:after {
	content: ">";
	position:absolute;
	right: layoutMarginal;
	margin-top: 0px;
	font-size: 22px;
	color: grey;	
}

@url backButtonUrl backButtonImage ;

.v-tk-navbar-left .v-tk-navbutton {
	display:inline-block;
	-webkit-border-image: backButtonUrl 0 9 0 30;
	border-width: 0 4px 0 13px;
	width: auto;
	background: transparent;
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	height: 31px;
	line-height: 31px;
	margin-right:auto;
	padding-right: 8px;
	text-align:left;
}
.v-tk-navbar-left .v-tk-navbutton:after {
	display:none;	
}

.v-tk-navbar-left {
	position: absolute;
	left: 5px;
	top: 5px;
	max-width: 33%;
	z-index: 1;
}

.v-tk-navbar {
	background: toolbarGradient;
	color: #515b66;
	display: block;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 0px #222;
	border-bottom: 1px solid rgb(45, 54, 66);
	border-top: 1px solid #bbb;
}

.v-tk-navbar-caption {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	line-height:40px;
	color:white;
}

.v-tk-navbar-right {
	position: absolute;
	right: 5px;
	top: 5px;
	height: 22px;
	max-width: 33%;
}

.v-tk-componentgroup-h .v-button,
.v-tk-componentgroup-h .v-disabled.v-button {
	position: relative;
	padding: 0;
	border: 0;
	background-color: transparent;
}

.v-tk-componentgroup-h .v-button-wrap,
.v-tk-componentgroup-h .v-disabled.v-button .v-button-wrap {
	border-left: 1px solid;
	border-radius: 0;
}

.v-tk-componentgroup-h > div > div > div:first-child .v-button-wrap {
	border-left: 0 !important; /* override .v-disabled.v-button selector */ 
}


/* TODO unite w/ backbutton rule */
.v-tk-navbar .v-button-caption {
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 22px;
	margin-right:auto;
	margin-top: 5px;
}

.v-tk-navbar .v-button .v-icon {
	height: 20px;
	margin-right:0;
}


.v-tk-navview-notoolbar .v-tk-navview-toolbar {
	display:none;
}


/* NavigationView */

.v-tk-navview {
	position:relative;	
}

.v-tk-navview-wrapper {
	position:absolute;
	top:42px;
	bottom:40px;
	left:0;
	right:0;	
	overflow:auto;
}
.v-tk-navview-notoolbar .v-tk-navview-wrapper {
	position:absolute;
	top:42px;
	bottom:0px;
	left:0;
	right:0;	
}


.v-tk-toolbar {
	background: toolbarGradient;
	/* Text by default white with shadow */ 
	color:white;
	text-shadow: 0px 1px 0px #222;
}

.v-tk-navview-toolbar {
	position:absolute;
	height:41px;
	bottom:0px;
	width:100%;
	left:0;
	right:0;	
	overflow:hidden;
	border-top: thinSeparatorLine;
}

/* Reset some default button style */
.v-tk-toolbar .v-button,
.v-tk-toolbar .v-button-wrap {
	background-image: none !important;
	background-color: transparent;
	position:relative;
	height:auto;
	border:0;
	padding: 0 6px;
	vertical-align:middle;
}
.v-tk-toolbar .v-button {
	display: table-cell;
}

.v-tk-toolbar .v-button-caption {
	display: block;
	background-image: none;
	text-align:center;	
	color:white;
	text-shadow: none;
	font-size: 9px;
	line-height: 12px;
}

.v-tk-toolbar .v-button .v-icon {
	height: 25px;
	margin:0;
	padding:0;
}

.v-tk-navview-notoolbar .v-tk-navview-toolbar {
	display:none;
}

.v-label-grey-title,
.v-caption-v-tk-componentgroup .v-captiontext {
	font-size:18px;
	font-weight: bold;
	color: rgb(76,86,108);
	text-shadow: #fff 0 1px 0px;
	margin: layoutMarginal 20px;
}

@sprite .v-slider-handle {
	gwt-image: "sliderHandle";
	/* TODO make me bigger */
	background-position: center center;
	width:30px;
	height:30px;
	margin-top:-15px;
}

/* touchkit sub window */

.v-tk-popover.v-tk-plain {
	/* popover that is not relative to component, nor fullscreen - no styling at all */
	
}

@url popupImage popupImage;
@url popupWithToolbarImage popupWithToolbarImage;
.v-tk-popover.v-tk-relative .v-window-wrap {
	/* border-width: 22px 8px 55px 8px;
	-webkit-border-image: popupImage 22 8 55 8 repeat; */	
	border-width: 22px 8px 8px 8px;
	-webkit-border-image: popupImage 22 8 8 8 repeat;
	
	overflow: visible;
	background: transparent;
	position: relative;
	box-shadow: 0 0 80px 0 #222;
	border-radius: 7px;
}

 .v-window-wrap {
	border-width: 0 0 0 0;
	border-image: none;
	border-radius: 0;
}

.v-tk-popover.v-tk-relative .v-window-contents {
	background: transparent;
	top: -20px;
	margin-bottom: -28px;
	
	position: relative;
}

.v-tk-popover.v-tk-relative .v-tk-navpanel-placeholder,
.v-tk-popover.v-tk-relative .v-tk-navpanel-placeholder>div {
	background: transparent;
	border-top: 0;
	border-bottom: 0;
}

.v-tk-popover.v-tk-relative .v-window-contents > div > .v-verticallayout .v-verticallayout-margin {
	padding-top:    7px;
	padding-bottom: 7px;
}

.v-window-contents {
	top: 0;
	left: 0;
	margin-right: 0;
	margin-bottom: 0;
	position: block;
}

.v-tk-popover .v-window-closebox,
.v-tk-popover .v-window-outerheader,
.v-tk-popover .v-window-footer {
	display: none;
}

.v-tk-opacity-transition {
	-webkit-transition: opacity 0.1s linear;
}

@sprite .v-tk-popover-pointer {
	gwt-image: "modalWindowArrowDown";
	position:absolute;
	margin-top: 1px;
}

@sprite .v-tk-popover-pointer-bottom {
	gwt-image: "modalWindowArrow";
	position:absolute;
	margin-top: 2px;
}

.v-tk-popover.v-tk-relative .v-tk-navpanel-container {
	background: transparent;
}
.v-tk-popover.v-tk-relative .v-tk-navbar {
	background: transparent;
	border: 0;
}
.v-tk-popover.v-tk-relative .v-tk-navview-toolbar {
	border: 0;
}

.v-tk-popover.v-tk-relative .v-tk-navview-toolbar .v-tk-toolbar {
	background: toolbarPopoverGradient;
}

/* Switch style checkbox.
 * TODO Consider styling with pure css:
 * http://css3wizardry.com/2010/09/16/making-an-iphone-switch-control-without-images/
 */

.v-tk-switch {
	width: 81px;
	height: 20px;
	overflow: hidden;
	border: 1px solid #bfbfbf;	
	position: relative;
	cursor: pointer !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

@sprite .v-tk-switch-slider {
	gwt-image: "switchImage";
	position: absolute;
	top: 0;
	left: 0;
}

.v-tk-switch-focus,
.v-tk-switch:focus {
	outline: none;
	border-color: #4f83b4 #5b97d0 #5ca0df;
}


/* Tabsheet tabs below */

.v-tk-tabsheet .v-csslayout-container,
.v-tk-tabsheet .v-csslayout-margin {
	height:100%;
	position:relative;	
}

.v-tk-tabsheet .v-tk-toolbar  {
	position:absolute;
	bottom:0;
	height:46px;
	/* Wrappped in literal function so that GWT does not break the gradien declaration */
	background: tabbarGradient;
	border-top: 1px solid black;
}

.v-tk-tabsheet>div>div>.v-caption {
	display:none;
}

.v-tk-tabsheet .v-button-selected {
	background: rgba(255,255,255,0.22);	
	border-radius: 4px;
}

.v-tk-navbar .v-button-no-decoration {
	background: transparent;
	-webkit-border-image: none;
	border: none;
}

.v-tk-navbar .v-button-no-decoration .v-button-wrap {
	border: none;
	-webkit-border-image: none;
	background: transparent;
}

/* General styles */

/* button coloring: */
.v-tk-redbg {
	background-color: red !important;
}
.v-tk-bluebg {
	background-color: blue !important;
}
.v-tk-greenbg {
	background-color: green !important;
}

/* White background for darkish colored buttons */
.v-tk-redbg .v-button-caption,
.v-tk-bluebg .v-button-caption,
.v-tk-greenbg .v-button-caption {
	color: white;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
}
