/*
 * TODO collect more constants to defs
 */

@def thinSeparatorLine 1px solid #666;
@def layoutMarginal 10px;
@def negativeLayoutMarginal -10px;

@def toolbarGradient literal('-webkit-gradient(linear, 0% 0%, 0% 100%,from(rgb(218,221,225)), to(rgb(109,131,165)),color-stop(0.04, rgb(183,194,208)), color-stop(0.4999, rgb(137,155,181)), color-stop(0.50, rgb(126,147,177)))');
@def toolbarPopoverGradient literal('-webkit-gradient( linear, left bottom, left top, color-stop(0.5, rgba(200, 200, 200, 0)), color-stop(0.5, rgba(200, 200, 200, 0.2)), color-stop(0.85, rgba(200, 200, 200, 0.2)),color-stop(1, rgba(200, 200, 200, 0)))');
@def tabbarGradient literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#ccc), to(#000), color-stop(0.04, #555), color-stop(0.4999, #222), color-stop(0.50, #000))');

.v-app, .v-window, .v-popupview-popup, .v-tooltip, .v-app input, .v-app select, .v-app button, .v-app textarea, .v-window input, .v-window select, .v-window button, .v-window textarea, .v-popupview-popup input, .v-popupview-popup select, .v-popupview-popup button, .v-popupview-popup textarea, .v-filterselect-suggestpopup, .v-datefield-popup, .v-contextmenu, .v-Notification, .v-menubar-submenu, .v-drag-element {
	font-family: Helvetica Neue, Helvetica, Arial, Tahoma, Verdana, sans-serif;
	font-size: 14px;
}

.red {
	background-color: red;
}
.blue {
	background-color: blue;
}
.green {
	background-color: green;
}

.v-navpanel .v-button,
.v-navpanel .v-button-wrap,
.v-touchkit-window .v-button,
.v-touchkit-window .v-button-wrap {
	background-image: none !important;
	position: relative;
	height: 43px;
	padding: 0;
	border: 0;
}

.v-navpanel .v-button:active .v-button-caption,
.v-touchkit-window .v-button .v-button-caption {
	text-shadow: 0 0 15px #fff;
}

@url buttonImage buttonImage;
.v-navpanel .v-button-wrap,
.v-touchkit-window .v-button-wrap {
	-webkit-border-image: buttonImage 7;
	/* uglier: -webkit-gradient( linear, left bottom, left top, color-stop(0, #E6E6E6), color-stop(0.49, #E6E6E6), color-stop(0.50, white)) */
	border-width: 7px;
	border-radius: 8px;
	height: 29px; /* button height - 2*border */
	padding: 0 5px;
}

.v-navpanel .v-button-caption,
.v-touchkit-window .v-button-caption {
	font-size: 16px;
	line-height: 29px;
}

.v-navpanel {
	position: relative;
	overflow: hidden;
}

.v-navpanel-wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.3s linear;
}

@url backgroundStripes backgroundStripesImage ;

.v-navpanel-container, 
.v-touchkit-window.v-touchkit-window-full-screen .v-navpanel-container {
	position: absolute;
	width: 100%;
	height: 100%;
	background: backgroundStripes;
	/* Not visible until positioned */
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
}

.v-navpanel-placeholder, 
.v-touchkit-window.v-touchkit-window-full-screen .v-navpanel-placeholder  {
	position: absolute;
	width: 100%;
	height: 100%;
	background: backgroundStripes;
}

.v-navpanel-placeholder>div,
.v-touchkit-window.v-touchkit-window-full-screen .v-navpanel-placeholder>div {
	display: block;
	position: absolute;
	background: toolbarGradient;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 0px #222;
	border-bottom: 1px solid rgb(45, 54, 66);
	border-top: 1px solid #bbb;
	text-align: center;
	line-height:40px;
	color:white;
	
}

/* TODO giallo for placeholder */
.v-navpanel-notransit {
	-webkit-transition: none;
}

.v-navbutton {
	-webkit-appearance: none;
	display:block;
	position:relative;
	background: white;
	color: black;
	font-size: 16px;
	font-weight: bold;
	line-height:40px;
	margin:0;
	padding:0;
}

.v-navbutton .v-icon {
	height:30px;
	margin-right: 5px;
	vertical-align: middle;
}

.v-navbutton-desc {
	color: #6e84a1;
	font-weight: normal;
	position: absolute;
	right: 40px;
	top: 0px;
}

/* Borders backgrounds etc. for the margin element.*/
.v-optionlayout>div {
	margin:layoutMarginal;
	border: thinSeparatorLine;
	border-radius: layoutMarginal;
	background: white;
	padding: 0 layoutMarginal;
}

.v-optionlayout .v-csslayout-container {
	position:relative;	
}

.v-optionlayout .v-csslayout-container>* {
	clear:both;
}

.v-optionlayout .v-csslayout-container>.tk-has-caption {
	clear:right;
	float:right;
}

.v-optionlayout>div>.v-csslayout-container>.v-caption {
	float:left;
	font-weight:bold;
	font-size:16px;
	line-height:40px;
	height:40px;
}

.v-optionlayout .v-csslayout-container>.v-caption>.v-captiontext {
	padding-right:3px;	
}

.v-optionlayout input.v-textfield {
	border:0;
	padding:0 4px;
	background: transparent;
	color: #4e64a1;
	font-size:16px;
	line-height:40px;
	height: 40px;
}

/*
 * Nav buttons are 40px height, make switch as height in option layouts.
 */
.v-optionlayout .v-switch {
	margin-top: 12px;
	margin-bottom: 8px;
}

/* Grey lines between component */
.v-optionlayout .v-csslayout-container>*:before {
	content: "";
	display: block;
	position: absolute;
	margin:0;
	padding:0;
	left:negativeLayoutMarginal;
	right:negativeLayoutMarginal;
	border-top: thinSeparatorLine;
}

/* ...hide from the last */
.v-optionlayout .v-csslayout-container>*:first-child:before {
	display: none;
}

.v-optionlayout .v-formlayout>table {
	margin-left: negativeLayoutMarginal;
	margin-right: negativeLayoutMarginal;
}

.v-optionlayout .v-formlayout-captioncell {
	padding-left:layoutMarginal;
}

.v-formlayout-captioncell>.v-caption {
	font-weight:bold;
	font-size:16px;
	line-height:40px;
	height:40px;
}

.v-formlayout-row > td {
	border-bottom: thinSeparatorLine;
}
.v-formlayout-lastrow > td {
	border-bottom: none;
}

.v-navbutton:after {
	content: ">";
	position:absolute;
	right: layoutMarginal;
	margin-top: 0px;
	font-size: 22px;
	color: grey;	
}

@url backButtonUrl backButtonImage ;

.v-navbar-backb .v-navbutton {
	display:inline-block;
	-webkit-border-image: backButtonUrl 0 4 0 13;
	border-width: 0 4px 0 13px;
	width: auto;
	background: transparent;
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	height: 31px;
	line-height: 31px;
	margin-left: 5px;
	margin-right:auto;
	padding-right: 8px;
	margin-top: 5px;
	text-align:left;
}
.v-navbar-backb .v-navbutton:after {
	display:none;	
}

.v-navbar-backb {
	position: absolute;
	left: 0;
	top: 0;
	max-width: 33%;
	z-index: 1;
}

.v-navbar {
	background: toolbarGradient;
	color: #515b66;
	display: block;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0px 1px 0px #222;
	border-bottom: 1px solid rgb(45, 54, 66);
	border-top: 1px solid #bbb;
}

.v-navbar-caption {
	position: absolute;
	text-align: center;
	left: 0;
	right: 0;
	line-height:40px;
	color:white;
}

.v-navbar-actions {
	position: absolute;
	right: 5px;
	top: 5px;
	height: 22px;
	max-width: 33%;
}



.v-navbar .v-button,
.v-navbar .v-button-wrap {
	background-image: none !important;
	position: relative;
	height: 31px;
	padding: 0;
	border: 0;
}
.v-navbar .v-button-wrap {
	padding: 0 5px;
}

/* TODO rename this: */
@url navbaractionimage navBarActionImage ;
.buttongroup,
.v-navbar .v-button {
	-webkit-border-image: navbaractionimage 4;
	border-width: 4px;
	border-radius: 5px;
	height: 31px;
}

.buttongroup .v-button {
	background-image: none !important;
	-webkit-border-image: none !important;
	position: relative;
	height: 23px;
	padding: 0;
	border: 0;
}
.buttongroup .v-button-wrap {
	border-left: 1px solid;
	border-radius: 0;
	-webkit-border-image: none !important;
}
.buttongroup > div > div:first-child > div > .v-button .v-button-wrap {
	border-left: 0;
}

/* TODO unite w/ backbutton rule */
.v-navbar-actions .v-button-caption {
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: rgba(0, 0, 0, 0.6) 0px -1px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 12px;
	line-height: 22px;
	margin-right:auto;
	margin-top: 5px;
}

.v-navbar-actions .v-button .v-icon {
	height: 20px;
	margin-right:0;
}


.v-navview-notoolbar .v-navview-tb {
	display:none;
}


/* NavigationView */

.v-navview {
	position:relative;	
}

.v-navview-wrapper {
	position:absolute;
	top:42px;
	bottom:40px;
	left:0;
	right:0;	
	overflow:auto;
}
.v-navview-notoolbar .v-navview-wrapper {
	position:absolute;
	top:42px;
	bottom:0px;
	left:0;
	right:0;	
}


.v-toolbar {
	background: toolbarGradient;
}

.v-navview-tb {
	position:absolute;
	height:41px;
	bottom:0px;
	width:100%;
	left:0;
	right:0;	
	overflow:hidden;
	border-top: thinSeparatorLine;
}

/* Reset some default button style */
.v-toolbar .v-button,
.v-toolbar .v-button-wrap {
	background-image: none !important;
	position:relative;
	height:auto;
	border:0;
	padding: 0 6px;
	vertical-align:middle;
}
.v-toolbar .v-button {
	display: table-cell;
}

.v-toolbar .v-button-caption {
	display: block;
	background-image: none;
	text-align:center;	
	color:white;
	text-shadow: none;
	font-size: 9px;
	line-height: 12px;
}

.v-toolbar .v-button .v-icon {
	height: 25px;
	margin:0;
	padding:0;
}

.v-navview-notoolbar .v-navview-tb {
	display:none;
}

.v-label-grey-title,
.v-caption-v-optionlayout .v-captiontext {
	font-size:18px;
	font-weight: bold;
	color: rgb(76,86,108);
	text-shadow: #fff 0 1px 0px;
	margin: layoutMarginal 20px;
}

@sprite .v-slider-handle {
	gwt-image: "sliderHandle";
	/* TODO make me bigger */
	background-position: center center;
	width:30px;
	height:30px;
	margin-top:-15px;
}

/* touchkit sub window */

.v-touchkit-window {
	
}

@url popupImage popupImage;
@url popupWithToolbarImage popupWithToolbarImage;
.v-touchkit-window .v-window-wrap {
	/* border-width: 22px 8px 55px 8px;
	-webkit-border-image: popupImage 22 8 55 8 repeat; */	
	border-width: 22px 8px 8px 8px;
	-webkit-border-image: popupImage 22 8 8 8 repeat;
	
	overflow: visible;
	background: transparent;
	position: relative;
	box-shadow: 0 0 80px 0 #222;
	border-radius: 7px;
}
.v-touchkit-window .v-window-wrap2 {

}

.v-touchkit-window-full-screen .v-window-wrap {
	border-width: 0 0 0 0;
	border-image: none;
	border-radius: 0;
}

.v-touchkit-window .v-window-contents {
	background: transparent;
	top: -20px;
	/* margin-bottom: -73px; */
	margin-bottom: -28px;
	
	position: relative;
}
.v-touchkit-window-full-screen .v-window-contents {
	top: 0;
	left: 0;
	margin-right: 0;
	margin-bottom: 0;
}

.v-touchkit-window .v-navpanel-placeholder,
.v-touchkit-window .v-navpanel-placeholder>div {
	background: transparent;
	border-top: 0;
	border-bottom: 0;
}

.v-touchkit-window .v-window-contents > div > .v-verticallayout .v-verticallayout-margin {
	padding-top:    7px;
	padding-bottom: 7px;
}

.v-touchkit-window-full-screen .v-window-contents {
	top: 0;
	margin-bottom: 0;
	position: block;
}


.v-touchkit-window .v-window-closebox,
.v-touchkit-window .v-window-outerheader,
.v-touchkit-window .v-window-footer {
	display: none;
}

.v-tk-opacity-transition {
	-webkit-transition: opacity 0.1s linear;
}

@sprite .v-touchkit-window-pointer {
	gwt-image: "modalWindowArrowDown";
	position:absolute;
	margin-top: 1px;
}

@sprite .v-touchkit-window-pointer-bottom {
	gwt-image: "modalWindowArrow";
	position:absolute;
	margin-top: 2px;
}

.v-touchkit-window .v-navpanel-container {
	background: transparent;
}
.v-touchkit-window .v-navbar {
	background: transparent;
	border: 0;
}
.v-touchkit-window .v-navview-tb {
	border: 0;
}

.v-touchkit-window .v-navview-tb .v-toolbar {
	background: toolbarPopoverGradient;
}

/* Switch style checkbox.
 * TODO Consider styling with pure css:
 * http://css3wizardry.com/2010/09/16/making-an-iphone-switch-control-without-images/
 */

.v-switch {
	width: 81px;
	height: 20px;
	overflow: hidden;
	border: 1px solid #bfbfbf;	
	position: relative;
	cursor: pointer !important;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

@sprite .v-switch-slider {
	gwt-image: "switchImage";
	position: absolute;
	top: 0;
	left: 0;
}

.v-switch-focus,
.v-switch:focus {
	outline: none;
	border-color: #4f83b4 #5b97d0 #5ca0df;
}


/* Tabsheet tabs below */

.v-csslayout-touchkit-tabsbelow .v-csslayout-container,
.v-csslayout-touchkit-tabsbelow .v-csslayout-margin {
	height:100%;
	position:relative;	
}

.v-csslayout-touchkit-tabsbelow .v-toolbar  {
	position:absolute;
	bottom:0;
	height:46px;
	/* Wrappped in literal function so that GWT does not break the gradien declaration */
	background: tabbarGradient;
	border-top: 1px solid black;
}

.v-csslayout-touchkit-tabsbelow>div>div>.v-caption {
	display:none;
}

.v-csslayout-touchkit-tabsbelow .v-button-selected {
	background: rgba(255,255,255,0.22);	
	border-radius: 4px;
}

.v-navbar .v-button-no-decoration {
	background: transparent;
	-webkit-border-image: none;
	border: none;
}

.v-navbar .v-button-no-decoration .v-button-wrap {
	border: none;
	-webkit-border-image: none;
	background: transparent;
}
